<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="false">
    <testsuites>
        <testsuite name="horde/boilerplate">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile=".phpunit.results.cache/testdox.html"/>
        <testdoxXml outputFile=".phpunit.results.cache/testdox.xml"/>
        <text outputFile=".phpunit.results.cache/logfile.txt"/>
    </logging>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
          includeUncoveredFiles="true"
          processUncoveredFiles="true"
          pathCoverage="false"
          ignoreDeprecatedCodeUnits="true"
          disableCodeCoverageIgnore="true"
          >
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">app</directory>
        </include>
        <report>
            <clover outputFile=".phpunit.results.cache/clover.xml"/>
            <cobertura outputFile=".phpunit.results.cache/cobertura.xml"/>
            <crap4j outputFile=".phpunit.results.cache/crap4j.xml" threshold="50"/>
            <html outputDirectory=".phpunit.results.cache/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile=".phpunit.results.cache/coverage.php"/>
            <text outputFile=".phpunit.results.cache/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory=".phpunit.results.cache/xml-coverage"/>
        </report>
    </coverage>
</phpunit>
